@tailwind base;
@tailwind components;
@tailwind utilities;

/* Здесь можно держать свои токены/глобальные стили */
@layer base {
    :root {
        /* твои переменные (пример) */
        /* --bg: #0e1622; ... */
    }
}